/* 일치선택자에서는 태그가 와야한다 태그.클래스 */
/* 태그 선택자는 쓰지 않는게 좋다. */
span.orange {
    color:red;
}

ul > .orange {
    color: blue;
}

ul > .st {
    color: green;
}
/*후손*/
div  .orange {
    color:aqua;
}
/*자식*/
div > .orange {
    color:yellow;
}

/* 부모 자식 관계에 집중해서 공부하자
마지막에 작성된순으로 우선적용 */

.orange + li {
    color:white;
    background-color: black;
}

/* + 인접형제는 많이 안쓰이지만
애니매이션에서 쓰이니 알아두자 ~ 일반형제는 쓴다. */

/* 사용빈도 => ***후손(하위)>일반형제>하위형제> 나머지둘 */